@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Outfit', sans-serif;
    @apply text-primary bg-bg;
}

.title { 
    @apply text-5xl xs:text-6xl s:text-7xl m:text-8xl l:text-9xl;
}

h1, h2, h3, h4, h5, h6, .title {
    @apply text-contrast;
}

h1 {
    @apply text-3xl xs:text-4xl s:text-5xl m:text-6xl l:text-7xl;
}
h2 {
    @apply text-2xl xs:text-3xl s:text-4xl m:text-5xl l:text-6xl;
}
h3 {
    @apply text-xl xs:text-2xl s:text-3xl m:text-4xl l:text-5xl;
}
h4 {
    @apply text-lg xs:text-xl s:text-2xl m:text-3xl l:text-4xl;
}
h5 { font-size: 1.149rem !important; }
h6 { font-size: 1.0rem !important; }

@layer utilities {
    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #253674 transparent;
    }
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 7px;
    }
    *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #253674;
        border-radius: 14px;
        border: 3px solid transparent;
    }
}

.content {
    @apply w-[90%] max-w-[90%] lg:w-[85%] lg:max-w-[90%] mx-auto;
}

.my-shadow {
   /* box-shadow: rgba(14, 25, 78, 0.2) 0px 12px 28px 0px, rgba(14, 25, 78, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    box-shadow: rgba(14, 25, 78, 0.15) 0px 15px 25px, rgba(14, 25, 78, 0.05) 0px 5px 10px;*/
    box-shadow: rgba(14, 25, 78, 0.1) 0px 4px 16px, rgba(14, 25, 78, 0.1) 0px 8px 24px, rgba(14, 25, 78, 0.1) 0px 16px 56px;
}

/*Nav animations
--------------------------------------------------*/

.animated-underline, .animated-underline-white {
    display: inline-block;
    text-decoration: none;
}

.animated-underline::after {
    display: block;
    content: '';
    @apply border-b-2 border-contrast;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.animated-underline-white::after {
    display: block;
    content: '';
    @apply border-b-2 border-white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.animated-underline:hover::after, .animated-underline-white:hover::after {
    transform: scaleX(1);
}


/* Hamburger Menu */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    background: hsl(238, 100%, 15%);
    transform: rotate(0);
    transition: all 0.5s;
    border-radius: 5px;
}

.hamburger-top {
    transform: translateY(2px);
}

.hamburger-middle {
    transform: translateY(10px);
}

.hamburger-bottom {
    transform: translateY(18px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Buttons */

.primary-button {
    @apply px-16 py-3 rounded-full text-center bg-contrast hover:bg-primary text-white;
}
.nav-button {
    @apply px-4 py-2 w-1/2 rounded-full text-center bg-contrast hover:bg-primary text-white;
}

button, a, .smooth-show, .accordion {
    transition: 1s;
    cursor: pointer;
}