---
import "../styles/base.css";

import MainLayout from "@layouts/MainLayout.astro";

import Title from "@components/Title.astro";
---

<MainLayout title="Kontakt">
    <section id="about" class="content pt-24 flex flex-col pb-20">
		<Title title="kontaktný formulár"/>
        <p class="w-full text-secondary text-center mt-2 text-lg">
            Zaujal Vás náš produkt? Máte ohľadne neho ďalšie otázky? Neváhajte nás kontaktovať cez formulár nižšie. Radi Vám odpovieme.
        </p>
        <form action="https://formie.io/form/97fa00d1-d176-4fdc-abf0-3c9a2e20b83a" method="POST" class="mx-auto max-w-xl mt-12">
            <!-- Optional: Redirect to your success page -->
            <input name="_redirect" type="hidden" value=`http://localhost:4321/Revival/sent/`>

            <!-- Optional: Redirect to your error page -->
            <input name="_redirect_error" type="hidden" value=`http://localhost:4321/Revival/error/`>

            <div class="flex flex-col space-y-4">
                <div class="">
                    <label for="kontaktny-e-mail" class="block text-sm font-semibold leading-6 text-primary tracking-wider">Kontaktný e-mail&nbsp;<span class="text-red-500">*</span></label>
                    <div class="mt-2.5">
                        <input type="email" name="kontaktny-e-mail" id="kontaktny-e-mail" autocomplete="email" placeholder="mail@mail.sk" class="block w-full rounded-3xl border-0 px-3.5 py-2 text-primary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="">
                    <label for="sprava" class="block text-sm font-semibold leading-6 text-primary tracking-wider">Správa&nbsp;<span class="text-red-500">*</span></label>
                    <div class="mt-2.5">
                        <textarea name="sprava" id="sprava" rows="4" placeholder="Správa ..." class="block w-full rounded-3xl border-0 px-3.5 py-2 text-primary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    Odoslaním formulára súhlasíte so&nbsp;<a href="#" class="font-semibold text-indigo-600 animated-underline">Zásadami ochrany osobných údajov</a>.
                </div>
                <div class="mt-10 w-full">
                    <button type="submit" class="primary-button w-full">Odoslať</button>
                </div>
            </div>
        </form>
    </section>
</MainLayout>